# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.npm/
yarn.lock
pnpm-lock.yaml

# Build outputs
build/
dist/
.cache/
.tmp/

# Env
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Coverage
coverage/

# Misc
.vscode/
.idea/
